body{
    background-color: #e4ce9fb7;
    color: #613030e5;
}
h1, h2{
    font-family: Helvetica, Arial, sans-serif;  
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}